@model IEnumerable<ourfitnessplan.Models.tbl_posts>
@using GridMvc.Html
@{

    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(canPage: true, rowsPerPage: 10);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);

}
@section Scripts
{

    @*<script src="@Url.Content("~/Scripts/jqueryFoo.js")"></script>*@
    <link rel="stylesheet" href="~/Areas/Templates/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Areas/Templates/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Areas/Templates/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <script src="~/Scripts/gridmvc.lang.ru.js"></script>
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <script src="~/Scripts/gridmvc.min.js"></script>
    <script src="~/Scripts/gridmvc.js"></script>
}
<!-- DataTables -->




<div class="card">
    <div class="card-header align-self-center">
        <h3 class="card-title ">Blog Posts</h3>

    </div>
   
   
    <!-- /.card-header -->
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-12">

                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })

            </div>
            <div>

                @Html.Grid(Model).Named("post").Columns(
    c =>
    {
        c.Add(x => x.aurthor).Titled("aurthor").Filterable(true).Sortable(true);
        c.Add(x => x.title).Titled("title").Filterable(true).Sortable(true);
        c.Add(x => x.content).Titled("content").Filterable(true).Sortable(true);
        c.Add().Encoded(false)
                        .Sanitized(false)
                        .SetWidth(30)
        .RenderValueAs(o => Html.ActionLink(" ", "Create", new { id = o.id }, new { @class = "fa fa-edit" })
        )



        ;

        c.Add().Encoded(false)
                       .Sanitized(false)
                       .SetWidth(30)

       .RenderValueAs(o => Html.ActionLink(" ", "Details", new { id = o.id }, new { @class = "fa fa-list" }))

       ;

    }).EmptyText("empty")


                @*<div class="row">
                <div class="col-sm-6">
                    @grid.Pager(mode: WebGridPagerModes.All)
                </div>
            </div>

            @Html.Hidden("dir", grid.SortDirection)
            @Html.Hidden("col", grid.SortColumn)*@

            </div>
        </div>
    </div>

</div>





<div>
    @foreach (var item in Model)
    {
        @Html.Raw(item.content)
    }
</div>
@section Myscripts{
    <script src="~/Areas/Templates/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Templates/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Areas/Templates/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>

    <script src="~/Areas/Templates/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Areas/Templates/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Areas/Templates/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>

    <script src="~/Areas/Templates/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Areas/Templates/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/Areas/Templates/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>




    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false

            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>

}

