@model IEnumerable<ourfitnessplan.Models.users>


@{

    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title align-items-center">USERS</h3>

                <div class="card-tools">
                    <a class="btn btn-primary" href="/Admin/users/Create" data-toggle="modal" data-target="#modal-lg">Create New</a>
                    @*<div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>*@
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 500px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>

                            <th>Name</th>
                            <th>email</th>
                            <th>user status</th>
                            <th>image</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.User_status)
                                    @*@Html.(modelItem =>item.User_status)*@
                                </td>
                                <td>
                                    <img src="@item.image_path" alt="@item.image_path" style="height:200px; width:200px" />
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Create <small>new user</small></h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                    <form action="/Admin/users/Create" method="post"enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputName">Image</label>
                                <input type="file" name="image" class="form-control" id="image" oninvalid="this.setCustomValidity('please enter valid Name')" onvalid="this.setCustomValidity('')">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName">Name</label>
                                <input type="text" name="Name" class="form-control" id="exampleInputEmail1" placeholder="Enter Name" required oninvalid="this.setCustomValidity('please enter valid Name')" onvalid="this.setCustomValidity('')">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" required oninvalid="this.setCustomValidity('please enter valid email e.g abc@email.com')" onvalid="this.setCustomValidity('')">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" id="password" minlength="6" placeholder="Password" maxlength="10">
                            </div>
                            <div class="form-group">
                                <label for="confirm_password">Confirm Password</label>
                                <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="Confirm Password">
                                <div class="registrationFormAlert" style="color:green;" id="CheckPasswordMatch">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">User Status</label>
                                    <select class="form-control" id="User_status" name="User_status">
                                        <option >select status</option>
                                        <option value="admin">Admin</option>
                                        <option value="user">user</option>
                                    </select>
                                    @*<input type="text" name="User_status" class="form-control" id="User_status" placeholder="user status">*@
                                </div>

                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    function checkPasswordMatch() {

        var password = $("#password").val();
        var confirmPassword = $("#confirm_password").val();
        if (password != confirmPassword)
            $("#CheckPasswordMatch").html("Passwords does not match!");
        else
             $("#CheckPasswordMatch").html("Passwords  match!");
    }
    $(document).ready(function () {
      

        $("#confirm_password").keyup(checkPasswordMatch);
    });
</script>